In [14]:
#https://praw.readthedocs.io/en/stable/getting_started/quick_start.html
import praw

reddit = praw.Reddit(
    client_id="",
    client_secret="",
    user_agent="dsi_project_3",
)

In [15]:
import pandas as pd

In [16]:
#Choosing my subreddits
#Going to choose ones which ask questions as more likely to draw posts which ask questions
#Also chose some reddits of interest, namely sr6-sr9
sr1 = reddit.subreddit('askculinary')
sr2 = reddit.subreddit('questions')
sr3 = reddit.subreddit('askengineers')
sr4 = reddit.subreddit('cscareerquestions')
sr5 = reddit.subreddit('askdocs')
sr6 = reddit.subreddit('onepiece')
sr7 = reddit.subreddit('manga')
sr8 = reddit.subreddit('nba')
sr9 = reddit.subreddit('torontoraptors')
sr10 = reddit.subreddit('TrueAskReddit')

subreddits = [sr1, sr2, sr3, sr4, sr5, sr6, sr7, sr8, sr9, sr10]

In [12]:
#This is my original loop to collect data. It was taking a while so I decided to break it up into parts. 
#Rather than loop, gather the questions + answers from each subreddit
"""
# List of subreddits
subreddits = ['askculinary', 'questions', 'askengineers', 'cscareerquestions']

#List for both questions and answers
questions_and_answers = []

# Looping through each subreddit in list 'subreddits'
for sr in subreddits:
    subreddit = reddit.subreddit(sr)
    
    # Fetch top questions
    top_questions = subreddit.top(limit=625)
    
    # Loop through top questions
    for submission in top_questions:
        # Get top comment for each question
        top_comment = submission.comments[0].body if submission.comments else None
        # Store the question and its top comment in dictionary
        question_data = {
            'title': submission.title,
            'top_comment': top_comment,
        }
        #Store that dictionary entry into list named questions_and_answers
        questions_and_answers.append(question_data)
"""

"\n# List of subreddits\nsubreddits = ['askculinary', 'questions', 'askengineers', 'cscareerquestions']\n\n#Storing both questions and answers\nquestions_and_answers = []\n\n# Looping through each subreddit in list 'subreddits'\nfor sr in subreddits:\n    subreddit = reddit.subreddit(sr)\n    \n    # Fetch top questions\n    top_questions = subreddit.top(limit=625)\n    \n    # Loop through top questions\n    for submission in top_questions:\n        # Get top comment for each question\n        top_comment = submission.comments[0].body if submission.comments else None\n        # Store the question and its top comment in dictionary\n        question_data = {\n            'title': submission.title,\n            'top_comment': top_comment,\n        }\n        #Store that dictionary entry into list named questions_and_answers\n        questions_and_answers.append(question_data)\n"

In [ ]:
"""
In hindsight, I should've used a function rather than copying the same block of code over ten times
The function wouldve looked something like: 
"""
def question_and_answer(sr):
    top_questions = sr.top(limit = 625) 
    q_and_a = []
    
    for submission in top_questions:
        top_comment = submission.comments[0].body if submission.comments else None
        
        question_data = {
            'title': submission.title,
            'top_comment': top_comment
        }
        
        q_and_a.append(question_data)

In [17]:
top_questions_sr1 = sr1.top(limit = 625) #Getting top posts from given subreddit

q_and_a_sr1 = [] #Will hold question and answers 

#Go through each post and get the top comment, put it as a dictionary and add it to list
for submission in top_questions_sr1:
    top_comment = submission.comments[0].body if submission.comments else None
    
    question_data = {
        'title': submission.title,
        'top_comment': top_comment
    }
    
    q_and_a_sr1.append(question_data)

In [18]:
#Turn into dataframe
df_sr1 = pd.DataFrame(q_and_a_sr1)
df_sr1.head()
#Need to remove rows which include [deleted] in comment

,title,top_comment
0,How can I purposely get clumps in my spaghetti,I’ve actually done this before. \n\nTie a whol...
1,"Rabbit hole engaged... 11,082 cookbooks in dig...",Brewster Kahle is the man responsible for this...
2,"Hello everybody, I’m Maangchi! I have a Korean...",Hello Maangchi! I've followed your channel sin...
3,UPDATE: I prepared Japanese A5 Wagyu Steak for...,This is my favorite type of update post! All t...
4,Instacart gave me 50 pounds of limes instead o...,[deleted]

In [19]:
top_questions_sr2 = sr2.top(limit = 625)

q_and_a_sr2 = []

for submission in top_questions_sr2:
    top_comment = submission.comments[0].body if submission.comments else None
    
    question_data = {
        'title': submission.title,
        'top_comment': top_comment
    }
    
    q_and_a_sr2.append(question_data)

In [20]:
df_sr2 = pd.DataFrame(q_and_a_sr2)
df_sr2.head()
#Need to remove rows which include '# Message to all users...'

,title,top_comment
0,Why Do People Microwave Fish at Work?,# Message to all users:\n\nThis is a reminder ...
1,"Why do people say ""you'll change your mind"" wh...",# Message to all users:\n\nThis is a reminder ...
2,Why are females expected to wear the most tigh...,Because people suck. No other way to put it. W...
3,At work I was called racist and I don't know w...,# Message to all users:\n\nThis is a reminder ...
4,Why is it so normal for American teens to have...,Many kids are given cars by their family. They...

In [21]:
top_questions_sr3 = sr3.top(limit = 625)

q_and_a_sr3 = []

for submission in top_questions_sr3:
    top_comment = submission.comments[0].body if submission.comments else None
    
    question_data = {
        'title': submission.title,
        'top_comment': top_comment
    }
    
    q_and_a_sr3.append(question_data)

In [22]:
df_sr3 = pd.DataFrame(q_and_a_sr3)
df_sr3.head()

,title,top_comment
0,"I’m a young engineer, recent graduate. I almos...","Hey man, I'm sorry to hear you're having a tou..."
1,Who else loves talking with Machinists?,I want to upvote this twice because it's so tr...
2,The recruitment process for big companies is f...,I got three scholarships from a large employer...
3,Hot take - most engineering jobs are not going...,I worked in R&D and still spent more time deal...
4,How is McMaster so amazing?,Not to mention having really good item filteri...

In [23]:
top_questions_sr4 = sr4.top(limit = 625)

q_and_a_sr4 = []

for submission in top_questions_sr4:
    top_comment = submission.comments[0].body if submission.comments else None
    
    question_data = {
        'title': submission.title,
        'top_comment': top_comment
    }
    
    q_and_a_sr4.append(question_data)

In [24]:
df_sr4 = pd.DataFrame(q_and_a_sr4)
df_sr4.head()

,title,top_comment
0,Accidentally destroyed production database on ...,in no way was this your fault.\n\nHell this sh...
1,Elon Musk just asked all employees to return t...,[deleted]
2,I just pushed my first commit to AWS!,We're gonna need you to revert
3,I got fired over a variable name....,lol no fucking way
4,I accidentally came across my senior engineer ...,Bet he reads reddit too

In [25]:
top_questions_sr5 = sr5.top(limit = 625)

q_and_a_sr5 = []

for submission in top_questions_sr5:
    top_comment = submission.comments[0].body if submission.comments else None
    
    question_data = {
        'title': submission.title,
        'top_comment': top_comment
    }
    
    q_and_a_sr5.append(question_data)

In [26]:
df_sr5 = pd.DataFrame(q_and_a_sr5)
df_sr5.head()

,title,top_comment
0,41yo suboxone patient with lung cancer. I don'...,as a doctor who often treats patients such as ...
1,Update on Robbie from Cherri,I'm making this thread sticky for a day. Rest ...
2,A thank you and happy ending.,Thank you for updating the community. We're gl...
3,Doc on here saved my life,Thank you for your submission. **Please note t...
4,Son drowned and have questions about how he we...,This post is for medical information. It is no...

In [27]:
top_questions_sr6 = sr6.top(limit = 625)

q_and_a_sr6 = []

for submission in top_questions_sr6:
    if '?' in submission.title:
        top_comment = submission.comments[0].body if submission.comments else None
    
        question_data = {
            'title': submission.title,
            'top_comment': top_comment
        }

        q_and_a_sr6.append(question_data)

In [29]:
df_sr6 = pd.DataFrame(q_and_a_sr6)
df_sr6.head()

,title,top_comment
0,"Found this online, is it true?",- If you are interested in the live action for...
1,"One Piece Summarized, took 30 hours. Can you f...",I didn't think anyone could summarize the enti...
2,"You saved some of the treasure, right?",Zoro making a run for it and taking Sanji with...
3,Where’s Pandaman? Took 71 hours. Can you find ...,"I love all the details put on this, like Zoro ..."
4,Is it real ?,That's naruto's last chapter. Oda paying respe...

In [30]:
top_questions_sr7 = sr7.top(limit = 625)

q_and_a_sr7 = []

for submission in top_questions_sr7:
    if '?' in submission.title:
        top_comment = submission.comments[0].body if submission.comments else None
    
        question_data = {
            'title': submission.title,
            'top_comment': top_comment
        }

        q_and_a_sr7.append(question_data)

In [31]:
df_sr7 = pd.DataFrame(q_and_a_sr7)
df_sr7.head()

,title,top_comment
0,From the Manga Naruto...and I have a new found...,Shit like this is why mangaka have assistants
1,[DISC] Is this possibly the most wholesome 4 p...,Was I the only one who got <three days of happ...
2,Where is this from?,"Tamen gushi.\n\nWord of warning, it’s a Yuri M..."
3,"[DISC] You Boys Love These Sorts of Things, Ri...",Guys only want one thing and it's fucking ~~di...
4,Where is this from?,[Here's the source](https://www.pixiv.net/en/a...

In [32]:
top_questions_sr8 = sr8.top(limit = 625)

q_and_a_sr8 = []

for submission in top_questions_sr8:
    if '?' in submission.title:
        top_comment = submission.comments[0].body if submission.comments else None
    
        question_data = {
            'title': submission.title,
            'top_comment': top_comment
        }

        q_and_a_sr8.append(question_data)

In [33]:
df_sr8 = pd.DataFrame(q_and_a_sr8)
df_sr8.head()

,title,top_comment
0,"Max Kellerman on Lebron: ""It's called selling ...",Mohammad Ali is the perfect example. Dude lost...
1,Kareem Abdul-Jabbar: Where Is the Outrage Over...,Kareem just cocked it back and yammed it on St...
2,"Doc Rivers: “I will say it, because I don’t th...","Hi all, \n\nOur enhanced auto-moderation tool..."
3,Is Lebron DENNIS systeming the cavs?,IT getting all buddy buddy with dan gilbert so...
4,Can we please stop calling players that 90% of...,> AND GOOGLE TO FIND OUT THIS MF WAS TALKING A...

In [34]:
top_questions_sr9 = sr9.top(limit = 625)

q_and_a_sr9 = []

for submission in top_questions_sr9:
    if '?' in submission.title:
        top_comment = submission.comments[0].body if submission.comments else None
    
        question_data = {
            'title': submission.title,
            'top_comment': top_comment
        }

        q_and_a_sr9.append(question_data)

In [35]:
df_sr9 = pd.DataFrame(q_and_a_sr9)
df_sr9.head()
#Delete ones which have [removed]

,title,top_comment
0,How come he don't want us?,This is so sad and funny at the same time lmao...
1,"Wait what, actually!?","For some reason, I thought Scottie Barnes was ..."
2,Little cousin met Uncle Dennis at the airport ...,Damn uncle Dennis could’ve played in the NBA
3,Nav Bhatia on Kawhi’s jersey being retired? “N...,Kawhi was absolutely the difference maker in u...
4,Vote for best Oscar actor - Harden or Embiid?,Yes.\n\nThis is hilarious btw lmfao.

In [36]:
top_questions_sr10 = sr10.top(limit = 625)

q_and_a_sr10 = []

for submission in top_questions_sr10:
    top_comment = submission.comments[0].body if submission.comments else None
    
    question_data = {
        'title': submission.title,
        'top_comment': top_comment
    }
    
    q_and_a_sr10.append(question_data)

In [37]:
df_sr10 = pd.DataFrame(q_and_a_sr10)
df_sr10.head()
#Remove ones that start with 'Welcome'

,title,top_comment
0,Why does the president seem so personally inte...,"I've been reading through these comments, and ..."
1,How did you end up in your career path? Are yo...,i'm a massage therapist. not the seaweed wrap ...
2,Why does the world come together spending hund...,Being blunt but here are my two big factors:\n...
3,What atrocities are occurring around the world...,My heart is particularly called out to the Con...
4,How can a male boss better lookout and protect...,By firing the guy you already did more than yo...

In [43]:
#Stack all dataframes on top each other
df_reddit = pd.concat([df_sr1, df_sr2, df_sr3, df_sr4, df_sr5, df_sr6, df_sr7, df_sr8, df_sr9, df_sr10], axis = 0)
df_reddit.shape

(3864, 2)

In [45]:
#Includes all subreddits
df_reddit.to_csv('reddit_q_and_a.csv', index = False)

In [46]:
#Stack all question/ask dataframes on top each other
df_reddit_ask_question = pd.concat([df_sr1, df_sr2, df_sr3, df_sr4, df_sr5, df_sr10], axis = 0)
df_reddit_ask_question.shape

(3750, 2)

In [47]:
#Only subreddits predicated on asks and questions
df_reddit_ask_question.to_csv('reddit_ask_question.csv', index = False)

In [48]:
#Stack all other subreddits on top each other
df_reddit_others = pd.concat([df_sr6, df_sr7, df_sr8, df_sr9], axis = 0)
df_reddit_others.shape

(114, 2)

In [49]:
df_reddit_others.to_csv('reddit_others.csv', index = False)

In [ ]:
#Practicing/Trying out pulling questions
#Took from Eric in breakfast hour
"""
questions = []

for question in 
hot_posts = reddit.subreddit('askculinary').hot(limit=1250)
for post in hot_posts:
    print(post.title)
"""